@import "../../../../styles/colors.scss";


#main-container {
    padding: 20px,20px;
    text-align: center;
}

.ricetta.image {
    height: auto;
    padding: auto;
}
#msg {
  height: 27px;
  margin-top: -15px;

}

h3 {
  font-size: 18;
  font-weight: bold;
  padding: 0px!important;
  margin: 0 px!important;
}