*<div class="row contenitore" style="border-radius: 50px;">
    <div class="col-xl-11 order-2 order-lg-3">
    <img src="">
    <div class="card-body">
      <h5 class="card-title">Inserisci nuova ricetta</h5>
      <p class="card-text"></p>
     <div>
<form>
    <input placeholder="Nuova Ricetta" type="text" id="nuova ricetta" name="Nuova Ricetta" class="form-control" formControlName="nuova ricetta" />
</form>
      <a routerLink="inserisci" class="btn btn-primary">Inserisci</a>
    </div>  

    <!-- <a class="btn btn-primary" routerLink="inserisci/{{recipe.title}}/{{recipe._id}}" *ngIf="!pag">Visualizza</a> -->
  </div>
 


  <!-- <div class="row contenitore" style="border-radius: 50px;">
  <input placeholder="nominativo" type="text" id="nuova ricetta" name="Nuova Ricetta" class="form-control" formControlName="nuova ricetta" />
  <label class="form-label" for="nuova ricetta">Inserisci nuova ricetta</label>
  <button>Inserisci</button>
</div>- -->