<footer class="bg-dark text-light pt-3 pb-1">
  <div class="container">
    <img src="../assets/images/icona-cibando.png" class="icona-cibando">
    <div class="row">
      <div class="col-md-6">
        <h3>Contatti</h3>
        <p>Indirizzo: Via Roma, 123 - 00100 Roma</p>
        <p>Email: info@cibando.com</p>
      </div>
      <div class="col-md-6">
        <h3>Links Utili</h3>
        <ul class="list-unstyled">
          <li><a href="#">Chi siamo</a></li>
        </ul>
      </div>
    </div>
    <hr class="bg-light">
    <div class="row">
      <div class="col-md-12 text-center">
        © 2023 Copyright:  <a class="text-dark" href="#">Cibando.com</a>
      </div>
    </div>
  </div>
</footer>
