<app-carousel></app-carousel>

  <div id="main-container">
    <div class="container-titolo">
      <h2 [ngClass]="evidenziato ? 'testoEvidenziato' : ''" (click)="onEvidenziazione()" style='cursor:pointer'>Benvenuti in Cibando</h2>
      <p class="paragrafo" [ngStyle]= "{'background-color' : evidenziato ? 'yellow' : 'white'}">
        Non soltanto un faro nell’esaltazione della buona e sana cucina italiana ma luogo di convivialità per celebrità e sportivi di fama internazionale.
        Il servizio offerto da Cibando, riservato e di alto profilo, rende unica l’esperienza perché ogni cliente che siede ai nostri tavoli, per noi, è un VIP.
        Inoltre è possibile riservare il nostro Privé per occasioni importanti o se si richiede privacy.
      </p>
    </div>
    <div id="ultimeRicette">
    <h2>Le ultime ricette</h2>
    <app-recipe-card [recipes]= "ricette"></app-recipe-card>
  </div>
</div>
  
<ng-template [ngIf]="name"> 
<div id="container-utente">
  <div id="dati-utente">
    <h2>Grazie <strong>{{name}}</strong> per esserti registrata, ecco i tuoi dati:</h2>
    <ul>
      <li>Nome: {{name}}</li>
      <li>Email: {{email}}t</li>
    </ul>
    <button class="btn btn-primary btn-lg"(click)= "closeModal()">Chiudi</button>
  </div>
</div>
</ng-template>