.card-container {
    display: block;
    float: left;
    width: 23%;
    margin-left: 1.6%;
    margin-bottom: 20px;
  
    .card-image {
      height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
    }
  
    .card-body {
      text-align: center;
      
      .card-title {
        margin-top: 15px;
        font-weight: bold;
        font-size: 20px;
        color: #8e210b;
      }
  
      .card-text {
        margin-top: 0px;
        text-align: justify;
        height: 200px;
      }
  
      a.btn.btn-primary {
        background: #8e210b;
        border: none;
        margin: auto;
        padding: 8px 35px;
    }
  } 
}

